/* Glow Utility */

.u-glow {
  box-shadow: var(--shadow-glow-primary);
}

.u-glow--secondary {
  box-shadow: var(--shadow-glow-secondary);
}

.u-glow--accent {
  box-shadow: var(--shadow-glow-accent);
}
